Repository GreyNoise-Intelligence/pygreynoise: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, isort, flake8

yamllint:
  name: Style check (yamllint)
  entry: yamllint
  language: system

black:
  name: Style check (black)
  entry: black
  language: system

isort:
  name: Style check (isort)
  entry: isort
  language: system

flake8:
  name: Static analysis (flake8)
  entry: flake8
  language: system

update all depends to latest for specific vers
  pyproject.toml
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
Due: none

update all depends to latest for specific vers (#885)
  pyproject.toml
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
Due: none

add missing exclude param, update stats
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/cli/subcommand.py
  tests/cli/test_subcommand.py
  tests/test_api.py
Due: black, isort, flake8

fix test
  tests/test_api.py
Due: black, isort, flake8

fix changelog link
  CHANGELOG.rst
Due: none

v3.03 update (#893)
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/cli/subcommand.py
  tests/cli/test_subcommand.py
  tests/test_api.py
Due: black, isort, flake8

Initial psychic implementation (#877)
  .gitignore
  setup.cfg
  src/greynoise/__init__.py
  src/greynoise/api/__init__.py
  src/greynoise/psychic.py
Due: black, isort, flake8

v3.1.0 updates
  .bumpversion.cfg
  .gitignore
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  requirements/common.txt
  requirements/test.txt
  setup.cfg
  src/greynoise/__init__.py
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/api/filter.py
  src/greynoise/cli/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/callback_ip.txt.j2
  src/greynoise/cli/templates/ip_context_result.txt.j2
  src/greynoise/cli/templates/macros.txt.j2
  src/greynoise/cli/templates/personadetails.txt.j2
  src/greynoise/cli/templates/recall_stats.txt.j2
  src/greynoise/cli/templates/recall_timeseries.txt.j2
  src/greynoise/cli/templates/timelinedaily.txt.j2
  src/greynoise/cli/templates/timelinehourly.txt.j2
  src/greynoise/greynoise_timeline.py
  src/greynoise/psychic.py
  src/greynoise/util.py
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
  tests/test_api.py
  tests/test_psychic.py
  tests/test_util.py
Due: black, isort, flake8

update python packages
  pyproject.toml
  requirements/common.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

more python packages
  pyproject.toml
  requirements/common.txt
Due: none

remove sensor_activity
  CHANGELOG.rst
  src/greynoise/api/__init__.py
  src/greynoise/psychic.py
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
  tests/test_api.py
  tests/test_util.py
Due: black, isort, flake8

remove unused files, changelog
  CHANGELOG.rst
  docs/source/tutorial.rst
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/ip_community.txt.j2
  src/greynoise/cli/templates/riot.txt.j2
  src/greynoise/cli/templates/sensoractivity.txt.j2
  src/greynoise/cli/templates/similarity.txt.j2
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
Due: black, isort, flake8

add missing cli generate command
  CHANGELOG.rst
  src/greynoise/api/__init__.py
  src/greynoise/cli/subcommand.py
  src/greynoise/psychic.py
  tests/cli/test_subcommand.py
Due: black, isort, flake8

fix linting
  src/greynoise/psychic.py
Due: black, isort, flake8

click update, fix maxmind import
  pyproject.toml
  requirements/common.txt
  src/greynoise/psychic.py
Due: black, isort, flake8

linting
  .pre-commit-config.yaml
  docs/source/sample.py
  pyproject.toml
  reset_changelog.py
  src/greynoise/api/__init__.py
  src/greynoise/api/filter.py
  src/greynoise/cli/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/greynoise_timeline.py
  src/greynoise/psychic.py
  src/greynoise/util.py
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
  tests/test_api.py
  tests/test_util.py
Due: yamllint, black, isort, flake8

fix psychic env handling
  src/greynoise/api/__init__.py
  src/greynoise/util.py
  tests/test_util.py
Due: black, isort, flake8

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
