Repository GreyNoise-Intelligence/pygreynoise: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, isort, flake8

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Style check (yamllint)
        entry: yamllint
        language: system
        types:
          - yaml
      - id: black
        name: Style check (black)
        entry: black
        language: system
        types:
          - python
      - id: isort
        name: Style check (isort)
        entry: isort
        language: system
        types:
          - python
      - id: flake8
        name: Static analysis (flake8)
        entry: flake8
        language: system
        types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]

update changelog
  CHANGELOG.rst
Due: none

update version
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  setup.py
  src/greynoise/__version__.py
Due: black, isort, flake8

bump version to v2.3.0 and update changelog (#843)
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  setup.py
  src/greynoise/__version__.py
Due: black, isort, flake8

v2.3.0 Release (#842)
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
  setup.py
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/cvedetails.txt.j2
  src/greynoise/util.py
Due: black, isort, flake8

bunch of updates
  .bumpversion.cfg
  .circleci/config.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/source/conf.py
  examples/ip_lookup.py
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
  reset_changelog.py
  setup.py
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/analyze.txt.j2
  src/greynoise/cli/templates/gnql_query.txt.j2
  src/greynoise/cli/templates/interesting.txt.j2
  src/greynoise/cli/templates/ip_context_result.txt.j2
  src/greynoise/cli/templates/ip_multi_context.txt.j2
  src/greynoise/cli/templates/ip_quick_check.txt.j2
  src/greynoise/cli/templates/macros.txt.j2
  src/greynoise/cli/templates/riot.txt.j2
  src/greynoise/util.py
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
  tests/test_api.py
  tests/test_util.py
Due: yamllint, black, isort, flake8

test updates, changelog
  CHANGELOG.rst
  src/greynoise/util.py
  tests/cli/test_subcommand.py
  tests/test_api.py
  tests/test_util.py
Due: black, isort, flake8

add ja4 to cli and update deps
  CHANGELOG.rst
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
  src/greynoise/cli/templates/ip_context_result.txt.j2
Due: none

tutorial updates
  CHANGELOG.rst
  docs/source/index.rst
  docs/source/sample.py
  docs/source/tutorial.rst
  requirements/common.txt
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
Due: black, isort, flake8

add note about apiconfig change
  CHANGELOG.rst
Due: none

small cleanup
  CHANGELOG.rst
  src/greynoise/api/__init__.py
Due: black, isort, flake8

fix ci
  .circleci/config.yml
Due: yamllint

fix test fails
  CHANGELOG.rst
  requirements/common.txt
  requirements/test.txt
Due: none

replace pkg
  requirements/common.txt
  src/greynoise/util.py
Due: black, isort, flake8

fix tests and pr comments
  CHANGELOG.rst
  examples/ip_lookup.py
  pyproject.toml
  requirements/common.txt
  setup.py
  tests/cli/test_subcommand.py
Due: black, isort, flake8

more test fixes
  .circleci/config.yml
  requirements/test.txt
Due: yamllint

depends
  requirements/test.txt
Due: none

more deps
  requirements/test.txt
Due: none

update release date
  CHANGELOG.rst
Due: none

fix dependences in changelog
  CHANGELOG.rst
Due: none

v3.0.0 Release (#869)
  .bumpversion.cfg
  .circleci/config.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/sample.py
  docs/source/tutorial.rst
  pyproject.toml
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
  reset_changelog.py
  setup.py
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/analyze.txt.j2
  src/greynoise/cli/templates/gnql_query.txt.j2
  src/greynoise/cli/templates/interesting.txt.j2
  src/greynoise/cli/templates/ip_context_result.txt.j2
  src/greynoise/cli/templates/ip_multi_context.txt.j2
  src/greynoise/cli/templates/ip_quick_check.txt.j2
  src/greynoise/cli/templates/macros.txt.j2
  src/greynoise/cli/templates/riot.txt.j2
  src/greynoise/util.py
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
  tests/test_api.py
  tests/test_util.py
Due: yamllint, black, isort, flake8

v3.0.0 Release (#869) (#871)
  .bumpversion.cfg
  .circleci/config.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/sample.py
  docs/source/tutorial.rst
  pyproject.toml
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
  reset_changelog.py
  setup.py
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/analyze.txt.j2
  src/greynoise/cli/templates/gnql_query.txt.j2
  src/greynoise/cli/templates/interesting.txt.j2
  src/greynoise/cli/templates/ip_context_result.txt.j2
  src/greynoise/cli/templates/ip_multi_context.txt.j2
  src/greynoise/cli/templates/ip_quick_check.txt.j2
  src/greynoise/cli/templates/macros.txt.j2
  src/greynoise/cli/templates/riot.txt.j2
  src/greynoise/util.py
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
  tests/test_api.py
  tests/test_util.py
Due: yamllint, black, isort, flake8

fix rtd
  .readthedocs.yml
Due: yamllint

Update .readthedocs.yml
  .readthedocs.yml
Due: yamllint

Update .readthedocs.yml (#872)
  .readthedocs.yml
Due: yamllint

add metadata endpoint
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
Due: black, isort, flake8

add metadata endpoint (#875)
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
Due: black, isort, flake8

add metadata endpoint (#875) (#876)
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
Due: black, isort, flake8

Initial psychic scaffold commit
  src/greynoise/__init__.py
  src/greynoise/api/__init__.py
Due: black, isort, flake8

Initial psychic scaffold commit
  src/greynoise/psychic.py
Due: black, isort, flake8

fix proxy, bump ver
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
Due: black, isort, flake8

fix toml
  CHANGELOG.rst
  pyproject.toml
Due: none

remove sonarcloud check
  .circleci/config.yml
Due: yamllint

v3.0.2 (#878)
  .bumpversion.cfg
  .circleci/config.yml
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
Due: yamllint, black, isort, flake8

v3.0.2 (#878) (#879)
  .bumpversion.cfg
  .circleci/config.yml
  CHANGELOG.rst
  docs/source/conf.py
  pyproject.toml
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
Due: yamllint, black, isort, flake8

fix liniting
  .gitignore
  setup.cfg
  src/greynoise/api/__init__.py
  src/greynoise/psychic.py
Due: black, isort, flake8

fix liniting 2
  src/greynoise/psychic.py
Due: black, isort, flake8

sync circle-ci config
  .circleci/config.yml
Due: yamllint

Initial psychic implementation (#877)
  .gitignore
  setup.cfg
  src/greynoise/__init__.py
  src/greynoise/api/__init__.py
  src/greynoise/psychic.py
Due: black, isort, flake8

spilt versions
  requirements/test.txt
Due: none

update files for new linter ver
  .circleci/config.yml
  src/greynoise/psychic.py
  tests/cli/test_formatter.py
  tests/cli/test_subcommand.py
  tests/test_util.py
Due: yamllint, black, isort, flake8
