Repository GreyNoise-Intelligence/pygreynoise: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, isort, flake8

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Style check (yamllint)
        entry: yamllint
        language: system
        types:
          - yaml
      - id: black
        name: Style check (black)
        entry: black
        language: system
        types:
          - python
      - id: isort
        name: Style check (isort)
        entry: isort
        language: system
        types:
          - python
      - id: flake8
        name: Static analysis (flake8)
        entry: flake8
        language: system
        types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]

Update pre-commit from 2.20.0 to 3.0.3
  requirements/dev.txt
Due: none

Update pylint from 2.15.5 to 2.16.1
  requirements/test.txt
Due: none

Update pre-commit from 2.20.0 to 3.0.4
  requirements/dev.txt
Due: none

Update sphinx-rtd-theme from 1.1.1 to 1.2.0
  requirements/docs.txt
Due: none

Update tox from 3.27.0 to 4.4.5
  requirements/dev.txt
Due: none

Update ipython from 8.6.0 to 8.10.0
  requirements/dev.txt
Due: none

Update pylint from 2.15.5 to 2.16.2
  requirements/test.txt
Due: none

add exclude_raw and more dependency updates
  CHANGELOG.rst
  requirements/dev.txt
  requirements/test.txt
  src/greynoise/api/__init__.py
Due: black, isort, flake8

fix cli command descriptions
  src/greynoise/cli/subcommand.py
Due: black, isort, flake8

fix missing dependences in setup.py
  setup.py
Due: black, isort, flake8

update version for click
  setup.py
Due: black, isort, flake8

remove unnecssary structlog
  requirements/common.txt
  setup.py
  tests/cli/test_init.py
Due: black, isort, flake8

fix linting
  setup.py
Due: black, isort, flake8

fix changelog
  CHANGELOG.rst
Due: none

v2.0.0 Release (#698)
  .bumpversion.cfg
  .circleci/config.yml
  .github/dependabot.yml
  .pre-commit-config.yaml
  .yamllint
  CHANGELOG.rst
  README.rst
  docs/source/conf.py
  docs/source/tutorial.rst
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
  setup.py
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/api/analyzer.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/ip_context_result.txt.j2
  src/greynoise/cli/templates/ip_context_result_query.txt.j2
  src/greynoise/cli/templates/macros.txt.j2
  src/greynoise/cli/templates/similarity.txt.j2
  src/greynoise/cli/templates/stats.txt.j2
  src/greynoise/cli/templates/timeline.txt.j2
  src/greynoise/cli/templates/timelinehourly.txt.j2
  src/greynoise/util.py
  tests/cli/test_formatter.py
  tests/cli/test_init.py
  tests/cli/test_subcommand.py
  tests/test_api.py
  tests/test_util.py
Due: yamllint, black, isort, flake8

Create slack_release_notice.yml
  .github/workflows/slack_release_notice.yml
Due: yamllint

Update slack_release_notice.yml
  .github/workflows/slack_release_notice.yml
Due: yamllint

Update to support pinned versions and dependabot
  requirements/test.txt
Due: none

flake8 backwards support
  requirements/test.txt
Due: none

fix backwards compatibility
  requirements/test.txt
Due: none

Update for py36
  requirements/test.txt
Due: none

fix timeline lookback period
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  requirements/common.txt
  setup.py
  src/greynoise/__version__.py
  src/greynoise/util.py
  tests/test_util.py
Due: black, isort, flake8

v2.0.1 Release
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  requirements/common.txt
  setup.py
  src/greynoise/__version__.py
  src/greynoise/util.py
  tests/test_util.py
Due: black, isort, flake8

update slack publish message
  .github/workflows/slack_release_notice.yml
Due: yamllint

adjust yamllint
  .yamllint
Due: none

update slack publish message (#766)
  .github/workflows/slack_release_notice.yml
  .yamllint
Due: yamllint

Add greynoiselabs subcommand
  requirements/common.txt
  setup.py
  src/greynoise/cli/__init__.py
  src/greynoise/cli/subcommand.py
Due: black, isort, flake8

Fix greynoiselabs version requirement
  requirements/common.txt
Due: none

Pin to 0.1.25
  requirements/common.txt
Due: none

Add conditional import for 3.7.2 or newer
  requirements/common.txt
  src/greynoise/cli/__init__.py
Due: black, isort, flake8

Add `labs` not implemented decorator for < 3.7.2 until we deprecate 3.6
  src/greynoise/cli/__init__.py
Due: black, isort, flake8

drop ipaddress from requirements
  requirements/common.txt
  setup.py
Due: black, isort, flake8

fixes
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  requirements/common.txt
  requirements/dev.txt
  requirements/test.txt
  setup.py
  src/greynoise/__version__.py
  src/greynoise/cli/templates/stats.txt.j2
Due: black, isort, flake8

fix setup
  setup.py
Due: black, isort, flake8

update sonarcloud config
  .circleci/config.yml
Due: yamllint

2.1.0 updates (#789)
  .bumpversion.cfg
  .circleci/config.yml
  CHANGELOG.rst
  docs/source/conf.py
  requirements/common.txt
  requirements/dev.txt
  requirements/test.txt
  setup.py
  src/greynoise/__version__.py
  src/greynoise/cli/templates/stats.txt.j2
Due: yamllint, black, isort, flake8
