Repository GreyNoise-Intelligence/pygreynoise: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, isort, flake8

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Style check (yamllint)
        entry: yamllint
        language: system
        types:
          - yaml
      - id: black
        name: Style check (black)
        entry: black
        language: system
        types:
          - python
      - id: isort
        name: Style check (isort)
        entry: isort
        language: system
        types:
          - python
      - id: flake8
        name: Static analysis (flake8)
        entry: flake8
        language: system
        types:
          - python
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.17.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]

Update test.txt
  requirements/test.txt
Due: none

INS-94 Update SDK to include sensor activity feed
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/subcommand.py
Due: black, isort, flake8

Add tests
  src/greynoise/api/__init__.py
  src/greynoise/cli/subcommand.py
  tests/test_api.py
Due: black, isort, flake8

Add more tests
  src/greynoise/cli/subcommand.py
  tests/cli/test_subcommand.py
Due: black, isort, flake8

Fix formatting
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/subcommand.py
  tests/cli/test_subcommand.py
  tests/test_api.py
Due: black, isort, flake8

Add status code output when there is no body
  src/greynoise/cli/decorator.py
Due: black, isort, flake8

cl update
  CHANGELOG.rst
Due: none

set ver 2.2.0
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  setup.py
  src/greynoise/__version__.py
Due: black, isort, flake8

Bumpver 2.2.0 (#803)
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  setup.py
  src/greynoise/__version__.py
Due: black, isort, flake8

INS-94 Update SDK to include sensor activity feed (#801)
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/subcommand.py
  tests/cli/test_subcommand.py
  tests/test_api.py
Due: black, isort, flake8

update dependabot target
  .github/dependabot.yml
Due: yamllint

working cli
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/sensoractivity.txt.j2
Due: black, isort, flake8

fix test, add ips command
  src/greynoise/api/__init__.py
  tests/cli/test_subcommand.py
Due: black, isort, flake8

fix formatting
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
Due: black, isort, flake8

update analyze command
  setup.py
  src/greynoise/api/__init__.py
  src/greynoise/api/analyzer.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/analyze.txt.j2
  src/greynoise/cli/templates/personadetails.txt.j2
  src/greynoise/cli/templates/sensoractivity.txt.j2
  src/greynoise/cli/templates/sensorlist.txt.j2
Due: black, isort, flake8

remove more-itertools
  requirements/common.txt
  setup.py
Due: black, isort, flake8

revert more-itertools fix tests
  requirements/common.txt
  setup.py
  src/greynoise/cli/templates/analyze.txt.j2
Due: black, isort, flake8

reorder common reqs
  requirements/common.txt
Due: none

fix tests
  requirements/common.txt
  setup.py
  tests/test_api.py
Due: black, isort, flake8

dependencies and changelog
  CHANGELOG.rst
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
Due: none

fix dependencies
  requirements/test.txt
Due: none

New commands and updates (#809)
  CHANGELOG.rst
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
  setup.py
  src/greynoise/api/__init__.py
  src/greynoise/api/analyzer.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/analyze.txt.j2
  src/greynoise/cli/templates/personadetails.txt.j2
  src/greynoise/cli/templates/sensoractivity.txt.j2
  src/greynoise/cli/templates/sensorlist.txt.j2
  tests/cli/test_subcommand.py
  tests/test_api.py
Due: black, isort, flake8

update setup
  setup.py
Due: black, isort, flake8

fix comment
  src/greynoise/api/__init__.py
Due: black, isort, flake8

v2.2.0 Release (#824)
  .bumpversion.cfg
  CHANGELOG.rst
  docs/source/conf.py
  requirements/common.txt
  requirements/dev.txt
  requirements/docs.txt
  requirements/test.txt
  setup.py
  src/greynoise/__version__.py
  src/greynoise/api/__init__.py
  src/greynoise/api/analyzer.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/analyze.txt.j2
  src/greynoise/cli/templates/personadetails.txt.j2
  src/greynoise/cli/templates/sensoractivity.txt.j2
  src/greynoise/cli/templates/sensorlist.txt.j2
  tests/cli/test_subcommand.py
  tests/test_api.py
Due: black, isort, flake8

cve details command
  requirements/test.txt
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/cvedetails.txt.j2
  src/greynoise/util.py
Due: black, isort, flake8

jinja updates for entitlemnts
  src/greynoise/cli/templates/cvedetails.txt.j2
Due: none

linting and prereqs
  requirements/dev.txt
  requirements/test.txt
  src/greynoise/api/__init__.py
  src/greynoise/util.py
Due: black, isort, flake8

update template for new status code response
  src/greynoise/cli/templates/cvedetails.txt.j2
Due: none

update counts for api change
  src/greynoise/cli/templates/cvedetails.txt.j2
Due: none

Add CVE command for SDK and CLI (#834)
  requirements/dev.txt
  requirements/test.txt
  src/greynoise/api/__init__.py
  src/greynoise/cli/decorator.py
  src/greynoise/cli/formatter.py
  src/greynoise/cli/subcommand.py
  src/greynoise/cli/templates/cvedetails.txt.j2
  src/greynoise/util.py
Due: black, isort, flake8
